<!DOCTYPE html>
<html>
<head>
<style>
table, th, td {
    border-collapse: collapse;
    border: 1px solid black;
}
</style>
</head>
<body>
    <h3>Report A - Country Level Report</h3>

    <center>
        <h3>{{ name }}</h3>
        <p><i>[Offcial Name: {{ official_name }}]</i></p>
        <table id="non-yearly">
            <tbody>
                <tr>
                    <td>Area {{ area }} sq km ({{ area_rank }})</td>
                </tr>
                <tr>
                    <td>Official/National Languages: {{ languages }}</td>
                    <td>Capital City: {{ capital }}</td>
                </tr>
            </tbody>
        </table>
    </center>

    <h3>Population</h3>
    <p>
        <i>Table of Population, Population Density, and their respective world
        ranking for that year, ordered by year:</i>
    </p>
    <table style="width: 100%">
        <tbody>
            <tr>
                <th>Year</th>
                <th>Population</th>
                <th>Rank</th>
                <th>Population Density (people/sq km)</th>
                <th>Rank</th>
            </tr>
        {% for item in population_items %}
            <tr>
                <td>{{ item.year }}</td>
                <td>{{ item.population }}</td>
                <td>{{ item.population_rank }}</td>
                {% if item.population_density != "" %}
                    <td>{{ item.population_density | round(2) }}</td>
                {% else %}
                    <td>{{ item.population_density }}</td>
                {% endif %}
                <td>{{ item.population_density_rank }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <h3>Economics</h3>
    <p>Currency: {{ currency }}</p>
    <p>
        <i>Table of GDP per capital (GDPPC) from {{ earliest_economic_year }} to
        {{ latest_economic_year }} and rank within the world for that year:</i>
    </p>
    <table style="width: 100%">
        <tbody>
            <tr>
                <th>Year</th>
                <th>GDPPC</th>
                <th>Rank</th>
            </tr>
        {% for item in gdp_items %}
            <tr>
                <td>{{ item.year }}</td>
                <td>{{ item.GDPPC }}</td>
                <td>{{ item.GDPPC_rank }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
</body>
</html>